h2{
    font-style: xx-large;
    text-align: center;
    color: turquoise;
    padding: 10px;
    font-size: 50px;
}
h3{
    font-style: xx-large;
    text-align: left;
    color: yellow;
    padding: 180px;
}
h4{
    font-style:xx-large;
    font-size: large;
    text-align:center;
    background-color:black;
    background-position: center;
    color: yellowgreen;
    padding:none;
    width:350px;
    float: right;

}
body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 20 px;

}
img{
    border: 50px;
    padding: 40px;
    width: 250px;
    float: left;
}
div{
    border: 0px;
    

}

.box-model{
    background-image:url(/images/stanley-dai-73OZYNjVoNI-unsplash.jpg);
    background-size:700px,20px;
    background-repeat: no-repeat;
    padding: 100px;
    height: 250px;
    width: 1050px;
    margin: 50px;
    text-align: center;
    background-color: yellow;

}
li{
    text-align: centre;
    color: yellowgreen;
    background-color:black;
    font-size:x-large;
    height: 100px;
}
.em{
    font-style: italic;
    font-size: small;

}
a{
    font-size: small;
    background-color:white;
}
.column{
    background-color: yellow;
    float:right;
    height: 330px;
    width:100%;   
}
div{
    font-size: large;
}